* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: sans-serif;
  color: #58402c;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */

header {
  border-bottom: 1px solid #58402c;
}

header nav {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav li {
  list-style: none;
  display: inline-block;
}

header nav li a {
  text-decoration: none;
  color: #58402c;
  padding: 0 10px;
}

.btn-sign-up {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
  color: #fff;
  background-color: #30488f;
  border-radius: 7px;
  text-decoration: none;
}

