* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: sans-serif;
  color: #58402c;
}

/* HEADER */

header .h-container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #bdb5af;
}

header .h-container nav {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .h-container nav li {
  list-style: none;
  display: inline-block;
}

header .h-container nav li a {
  text-decoration: none;
  color: #58402c;
  padding: 0 10px;
}

.s-one-container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

.s-one-left {
  float: left;
  width: 44%;
}

.s-one-left h1 {
  font-size: 45px;
  line-height: 50px;
}

.s-one-right {
  float: left;
  width: 56%;
  height: 200px;
}

.s-one-right img {
  width: 100%;
}

.btn-sign-up {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
  color: #fff;
  background-color: #30488f;
  border-radius: 7px;
  text-decoration: none;
}

